---
import GridGalley from "../components/GridGallery";

import Card from "../components/ui/Card.astro";
import Layout from "../layouts/Layout.astro";

const target = new Date("2024-12-31T00:00:00.000Z");

const images = [
  "https://img.daisyui.com/images/stock/photo-1625726411847-8cbb60cc71e6.webp",
  "https://img.daisyui.com/images/stock/photo-1609621838510-5ad474b7d25d.webp",
  "https://img.daisyui.com/images/stock/photo-1609621838510-5ad474b7d25d.webp",
  "https://img.daisyui.com/images/stock/photo-1665553365602-b2fb8e5d1707.webp"
]
---

<Layout title="Welcome to Astro.">
	<section class="w-full h-[105svh] flex flex-col items-center justify-center">
		<Card />
	</section>

	<section class="w-full h-[105svh] flex flex-col items-center justify-center">
    <GridGalley images={images} client:load />
	</section>
</Layout>
