<section class="card bg-base-200 w-[35rem] h-3/4 shadow-xl rounded-none">
  <section class="card-body flex flex-col items-center justify-center">
    <h2 class="card-title text-6xl font-serif">Boda</h2>

    <div class="w-full h-auto flex flex-col items-center justify-center space-y-4 p-16">
      <p>Tienen el gusto de invitarte a ser testigo de su amor, este</p>
      <em class="text-2xl text-accent font-serif"> 4 Agosto 2024 </em>

      <p class="text-pretty">
        Esperamos contar con su presencia en la Parroquia del Sagrado Corazón de
        Jesús para celebrar nuestro matrimonio frente a Dios y, posteriormente,
        en Grand Imperio eventos, donde tendremos nuestra recepción.
      </p>
    </div>

    <section class="card-actions w-full flex items-center justify-center">
      <button class="btn btn-secondary w-full max-w-sm"
        >Confirmar asistencia</button
      >
    </section>
  </section>
</section>
